@media (max-width: 768px) {
  body{
   padding:0px!important;
  }
}

@media (min-width: 992px) {
  .offset-left{
    margin: 0px 60px 0px -87px!important
  }
}

body {
  padding: 50px;

  /* font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto; */
  font: 14px "Work Sans", sans-serif;
  font-family: "Work Sans", sans-serif!important;
  background-image:  url(../images/noise-2.png);
  opacity: 1;
}

p {  
  padding-top: 15px;
  font-size:15px;
  color:#ddd;
}

h1{
  font-weight: 300!important;
}

h2{
  border: solid #ddd;
  border-width: 0px 0px 0px 4px;
  padding: 0px 0px 0px 7px;
  margin-left: -0px;
  color: #eee !important;
  font-size: 25px !important;
  font-weight: 500 !important;
}

iframe{
  margin: 0 auto;
  display: block;
  border: solid #151515;
  border-width: 1px 1px;
}

.pattern-bg-1{
  background-image:  url(../images/pattern-2.png);
}

.title {
  color: #eee;
  text-align: right;
  font-size: 40px;
  white-space: nowrap;
}

.title-2 {
  color: #eee;
  text-align: left;
  font-size: 40px;
  white-space: nowrap;
}

a:hover{
  color: #00B7FF;
}

.navigation{
  list-style: none;
}

.left-panel{
  margin-top: 33px;
  padding-right: 12px!important;
  padding-left: 50px!important;
}

@media (min-width: 992px) {
  .sticky-navigation{
    position: sticky!important;
    top: 2rem;
  }
}

.navigation-link{
  text-align: right;
  border: solid #333;
  border-width: 0px 0px 1px 0px;
  padding: 3px 4.5px 3px 3px;
  background-color: #00000000;
  color: #ddd;
  margin-right: -3px;
  margin-bottom: 3px;
  margin-left: 130px;
}

.navigation-link b{
  color: #ddd;
  font-weight: 500;
  letter-spacing: 0.5px;

}

.navigation-link b:hover{
  /* color:#ddd; */
}

.navigation-link:hover{
 background-color: #ffffff14;
}

.navigation-link-selected{
  /* list-style:square; */
  border: solid #ccc;
  border-width: 0px 5px 1px 0px;
}

.navigation-link-selected-marker{
  border: solid #ccc;
  border-width: 0px 0px 0px 2px;
  display: inline;
  position: relative;
  left: 10px;
  margin-left:-2px;
  padding-top:-5px;
  padding-bottom:-5px;
}

.content{
  /* border: solid #222;
  border-width: 1px 1px 1px 1px; */
  margin-top: 30px;
  padding: 10px 20px 50px 20px;
  background-color: #ffffff03;
}

.img-small{
  max-width: 55%;
  border-width: 1px;
  border: solid #151515;
  border-width: 1px 1px;
  display: block;
  margin: 0 auto;
}

.img-game{
  display: block;
  margin: 0 auto;
  width: 85%;
  border-width: 1px;
  border: solid #151515;
  border-width: 1px 1px;
}

.img-porting{
  width:220px;
  border: solid #151515;
  border-width: 1px;
  display: block;
  margin: 0 auto;
}

.img-visual{
  width: 266px;
  border-width: 1px;
  border: solid #151515;
  border-width: 1px 1px;
  display: block;
  margin: 14px auto;
}

.container-img-visual{
  display: block;
  margin: 12px auto!important;
  width: 84.5%;
}

.col-porting{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 220px;
  margin: 20px 8px;
  
}

.img-80{
  width:80%;
  border-width: 1px;
  border: solid #151515;
  border-width: 1px 1px;
  display: block;
  margin: 0 auto;
}

.img-60{
  width: 60%;
  border-width: 1px;
  border: solid #151515;
  border-width: 1px 1px;
  display: block;
  margin: 0 auto;
}

.vertical-thin{
  width:60px;
  height:200px;
}

.button{
  color: #eee !important;
  background-color: #151515;
  padding: 6px 50px;
  font-weight: 600;
  display: block;
  margin: 10px auto;
  border: solid #333;
  border-width: 1px;
}

button:hover{
  background-color: #151515;
}

.button-porting{
  padding: 5px 1px;
  width: 220px;
  margin-top: -1px;
  margin-bottom: 18px;
}

hr{
  border-top: 0px solid #151515 !important;
  width: 6px;
  padding-bottom: 130px;
}

.contact-icon{
  height: 22px;
  width: 22px;
  padding:3px;
  background-color: #000;
  margin: 0px 10px 0px 2px;
  display: inline-block;
}

.contact-link{
  vertical-align: super;
  font-weight: bold;
  color: #000;
}

.contact-icon-layout-container{
  text-align: right;
  margin-right: -5px;
}

.contact-icon-layout{
  height: 26px;
  width: 26px;
  padding: 3px 4px 3px 4px;
  fill:#aaa;
  margin: 1px 1px 1px 5px;
  display: inline-block;
  background-color: #0000;
}

.contact-icon-layout:hover{
  fill:#999;
}

.sticky {
  position: sticky;
  top: 0;
}

.image-counter{
  color: #bbb;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 992px) {
  .aligned-row {
    display: flex;
    flex-flow: row wrap;

    &::before {
        display: block;
    }
  }
}