body {
  padding: 50px;

  /* font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto; */
  font: 14px "Work Sans", sans-serif;
  font-family: "Work Sans", monospace!important;
  background-image:  url(../images/noise-2.png);
  opacity: 1;
}

p {  
  padding-top: 15px;
}

h2{
  border: solid #000;
  border-width: 0px 0px 0px 18px;
  padding: 0px 0px 0px 7px;
  margin-left: -0px;
}

iframe{
  margin: 0 auto;
  display: block;
  border: solid #000;
  border-width: 1px 1px;
}

.pattern-bg-1{
  background-image:  url(../images/pattern-2.png);
}

.title {
  color: #000;
  text-align: right;
  font-size: 40px;
  white-space: nowrap;
}

.title-2 {
  color: #000;
  text-align: left;
  font-size: 40px;
  white-space: nowrap;
}

a:hover{
  color: #00B7FF;
}

.navigation{
  list-style: none;
}

.navigation-link-selected{
  list-style:square;
}

.navigation-link{
  text-align: right;
  border: solid #fff;
  border-width: 1px 2px;
  padding: 3px;
  background-color: #000;
  color:#000;
}

.navigation-link b{
  color:#fff;
}

.navigation-link b:hover{
  color:#fff;
}

.navigation-link:hover{
 background-color: #445;
}

.content{
  border: solid #000;
  border-width: 0px 2px 0px 2px;
  margin-top: 50px;
  padding: 10px 20px 210px 20px;
}

.img-small{
  width:400px;
  border-width: 1px;
  border: solid #000;
  border-width: 1px 1px;
  display: block;
  margin: 0 auto;
}

.img-game{
  display: block;
  margin: 0 auto;
  width: 85%;
  border-width: 1px;
  border: solid #000;
  border-width: 1px 1px;
}

.img-porting{
  width:220px;
  border: solid #000;
  border-width: 2px;
}

.img-visual{
  width: 268px;
  border-width: 1px;
  border: solid #000;
  border-width: 1px 1px;
  display: inline-block;
  margin: 14px;
}

.container-img-visual{
  margin: 10px 56px;
}

.button-porting{
  padding: 1px 1px;
  width: 220px;
  margin-top: 2px;
}

.col-porting{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 220px;
  margin: 20px 8px;
  
}

.img-80{
  width:80%;
  border-width: 1px;
  border: solid #000;
  border-width: 1px 1px;
  display: block;
  margin: 0 auto;
}

.img-60{
  width: 60%;
  border-width: 1px;
  border: solid #000;
  border-width: 1px 1px;
  display: block;
  margin: 0 auto;
}

.vertical-thin{
  width:60px;
  height:200px;
}

.button{
  color: #000 !important;
  background-color: #fff;
  padding: 6px 50px;
  font-weight: bold!important;
  display: block;
  margin: 0 auto;
}

button:hover{
  background-color: #eee;
}

hr{
  border-top: 0px solid #000 !important;
  width: 6px;
  padding-bottom: 70px;
}

.contact-icon{
  height: 22px;
  width: 22px;
  padding:3px;
  background-color: #000;
  margin: 0px 10px 0px 2px;
  display: inline-block;
}

.contact-link{
  vertical-align: super;
  font-weight: bold;
  color: #000;
}

.contact-icon-layout-container{
  text-align: right;
}

.contact-icon-layout{
  height: 26px;
  width: 26px;
  padding: 3px 4px 3px 4px;
  background-color: #fff;
  fill:#999;
  margin: 1px 1px 1px 5px;
  display: inline-block;
}


.sticky {
  position: sticky;
  top: 0;
}